{% extends 'base.html.twig' %}
{% block title %}Administración
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
         body {
            background-color: #f5f5f5;
        }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
    background-color:white;
    border-radius: 14px;
    margin-top:60px;
}

h1 {
    color: red;
    font-size: 70px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.button {
    padding: 15px 30px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 30px;
    cursor: pointer;
    flex-grow: 1;
}

@media screen and (max-width: 480px) {
        h1 {
        font-size: 55px;
        margin-bottom: 30px;
    }

    .button {
        font-size: 20px;
    }
    .container {

    height: 70vh;
}    
    
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
    background-color:#f5f5f5;
    border-radius: 0px;
    margin-top:50px;
}

}

    </style>

{% endblock %}

{% block body %}
{{ parent() }}
    <div class="container">
            <h1 class="text-danger">Administrar</h1>
        <div class="button-container">
            <button class="button"><a class="nav-link text-white" href="{{path('adminInvoice')}}">Manejar Facturas</a></button>
            <span class="button-space "></span>
            <button class="button "><a class="nav-link text-white" href="{{path('adminService')}}">Nuevos Servicios</a></button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{{parent()}}

{% endblock %}
